In [2]:
import pandas as pd

df = pd.read_csv('validation/metrics.csv')
df.describe()

,cells_num,MAE,IOU,IOU(cells),Cells area,Cells area error %,Cells area error pixels
count,80.000000,80.000000,80.000000,80.000000,8.000000e+01,80.000000,8.000000e+01
mean,39.725000,6.150000,0.978800,0.988025,2.959821e+05,0.007638,8.893605e+04
std,43.567778,6.604755,0.024078,0.010076,2.406210e+05,0.012825,1.396532e+05
min,15.000000,0.000000,0.800000,0.921000,8.097700e+04,0.000000,4.850000e+02
25%,28.000000,2.000000,0.980000,0.987000,2.131880e+05,0.003000,3.362800e+04
50%,32.500000,5.000000,0.982500,0.989500,2.542945e+05,0.005000,6.157900e+04
75%,37.250000,8.000000,0.986000,0.992250,2.934810e+05,0.009000,1.061038e+05
max,333.000000,53.000000,0.991000,0.997000,2.026496e+06,0.112000,1.219049e+06