In [1]:
import pandas as pd

df = pd.read_csv('validation/metrics.csv')
df.describe()

,cells_num,MAE,IOU,IOU(cells),Cells area,Cells area error %,Cells area error pixels
count,80.000000,80.000000,80.000000,80.000000,8.000000e+01,80.000000,8.000000e+01
mean,39.725000,6.150000,0.978800,0.988025,2.959821e+05,0.007638,8.893605e+04
std,43.567778,6.604755,0.024078,0.010076,2.406210e+05,0.012825,1.396532e+05
min,15.000000,0.000000,0.800000,0.921000,8.097700e+04,0.000000,4.850000e+02
25%,28.000000,2.000000,0.980000,0.987000,2.131880e+05,0.003000,3.362800e+04
50%,32.500000,5.000000,0.982500,0.989500,2.542945e+05,0.005000,6.157900e+04
75%,37.250000,8.000000,0.986000,0.992250,2.934810e+05,0.009000,1.061038e+05
max,333.000000,53.000000,0.991000,0.997000,2.026496e+06,0.112000,1.219049e+06

In [4]:
df

,file_name,cells_num,MAE,IOU,IOU(cells),Cells area,Cells area error %,Cells area error pixels
0,BG-11-1-25-02-25-20-07-27,278,53,0.800,0.941,1292042,0.112,1219049.0
1,BG-11-1-25-02-25-20-10-26,333,5,0.872,0.921,2026496,0.027,273974.0
2,BG-11-225-02-25-20-23-24,38,1,0.980,0.987,267976,0.006,74104.0
3,BG-11-225-02-25-20-23-32,30,1,0.986,0.990,201792,0.007,79079.0
4,BG-11-225-02-25-20-23-39,36,1,0.985,0.991,230493,0.003,38431.0
...,...,...,...,...,...,...,...,...
75,BG-1125-02-25-20-03-03,35,2,0.988,0.992,226079,0.005,56693.0
76,BG-1125-02-25-20-03-10,31,11,0.986,0.992,223097,0.002,22130.0
77,BG-1125-02-25-20-03-15,25,6,0.988,0.994,173214,0.000,485.0
78,BG-1125-02-25-20-03-22,37,6,0.981,0.989,284225,0.003,38326.0
79,BG-1125-02-25-20-03-29,33,2,0.985,0.992,223252,0.002,19391.0

In [3]:
cellpose = pd.read_csv("data/validation_cellpose/metrics.csv")
cellpose.describe()

,cells_num,AE,NAE,IOU,IOU(cells),Cells area,Cells area error %,Cells area error pixels
count,80.000000,80.000000,80.000000,80.000000,80.000000,8.000000e+01,80.000000,8.000000e+01
mean,39.725000,3.200000,0.100275,0.015337,0.573650,2.959821e+05,0.985075,1.172262e+07
std,43.567778,3.175858,0.106179,0.010342,0.091654,2.406210e+05,0.016752,4.041700e+05
min,15.000000,0.000000,0.000000,0.006000,0.358000,8.097700e+04,0.846000,8.601408e+06
25%,28.000000,1.000000,0.030303,0.011000,0.501250,2.131880e+05,0.986000,1.171983e+07
50%,32.500000,2.000000,0.067816,0.013000,0.574500,2.542945e+05,0.988000,1.180034e+07
75%,37.250000,4.000000,0.125000,0.016000,0.642250,2.934810e+05,0.989000,1.184604e+07
max,333.000000,17.000000,0.515152,0.072000,0.789000,2.026496e+06,0.992000,1.200562e+07